.header{
    background-color:rgba(1, 78, 86, 1);
    align-items: center;
}
button{
    background-color: rgba(1, 78, 86, 1);
    border-color: white;
    color: white;
    border-radius: 20px;
    height: 35px;
}
.navbar{
    margin-left: -200px;
}
.item{
    text-decoration: none;
}